@import "../base";

.sidebar {
    padding: 10px;
    background-color: $background;
    color: $headline;
    height: auto;

    .nav-collapse {
        cursor: pointer;
    }

    li {
        background-color: white;

        &:hover, li > a{
            background-color: $button;
        }
    }

    @include media-breakpoint-up(md) {
        height: 100vh;
        overflow: auto;
    }
}

.nav {
    &-title {
        font-size: 18px;
        font-weight: bold;
    }
    &-avatar {
        background-color: $tertiary;
        padding: 12px;
        border-radius: 50%;
    }
}
