@import "../base";

.sidebar {
    padding: 10px;
    background-color: $background;
    color: $headline;
    height: 100vh;
}

.nav {
    &-title {
        font-size: 18px;
        font-weight: bold;
    }
    &-avatar {
        background-color: $tertiary;
        padding: 18px;
        border-radius: 50%;
    }
}