@import "../base.scss";

.home-logo {
  font-size: 36px;
  display: flex;
  justify-content: right;
  color: $headline;
}

.right-side img{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.left-side {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    padding: 100px 70px 20px 70px;
  }

  &__heading {
    color: $headline;
    font-weight: bold;
  }
}

.btnSubmit {
  background-color: $button-text;
  color: $white;
}