@import "../base.scss";

nav {
  background-color: $background;
  color: $button-text;
  padding: 40px 15px;

  @include media-breakpoint-down(md) {
    padding: 10px 15px;
  }

  a {
    color: $button;

    &:hover {
      color: $button;
    }
  }   
}

.header {
  &-brand {
    font-size: 36px;
    font-weight: bold;
  }

  &-link {
    font-size: 18px;
    font-weight: 500;
    color: $headline !important;

    &:hover {
      color: $button;
    }
  }
}